.fooditem{
    width: 100%;
margin: auto;
border-radius: 15px;
box-shadow: 0px 0px 10px #00000015;
transition: 0.3s;
animation: fade 1s;

}
.fooditemimage{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
.fooditeminfo{
    padding: 20px;

}
.fooditemrating{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.fooditemrating p{
    font-size: 20px;
    font-weight: 500;
}
.fooditemrating img{
    width: 70px;
    height: 20px;
}

.fooditemdescription{

color: #676767;
font-size: 12px;
}
.fooditemprice{
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;


}
.fooditemimagecontainer{
    position: relative;
}
.fooditemimagecontainer .add{ 
    width: 35px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    border-radius: 50%;
}
.fooditemcounter{
    position: absolute;
bottom: 15px;
right: 15px;
display: flex;
align-items: center;
gap: 10px;
padding: 6px;
border-radius: 50px;
background-color: white;


}
.fooditemcounter img{
    width: 30px;
}